{% load static %}
<html class=no-js>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <title>Chloe Umble</title>
    <meta name=title content="Chloe Umble's Online Portfolio">
    <meta name=description
          content="Hi! I'm Chloe Umble. This is where I keep examples of my work or things I've made. Please contact me or relevant business opportunities">
    <meta property=og:title content="ChloesPage">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel=icon href="{% static "CUfinal.gif" %}"/>
    <link rel=stylesheet href="{% static 'homepage.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
</head>

<body>
<div>
    {% include 'chloesite/header.html' %}
</div>
<section class="homeHero parallax verticalCenter">
    <h1 class="">Hello, world.</h1>
    <div class=container>
        <p style="color: white">
            Hello! I'm Chloe - a maker, an internet enthusiast, and tea drinker.
            <br>
            <br> I'm looking to combine my experience in technical fields with the chance to create opportunities,
            inspire confidence and creativity, follow curiosity, ask questions, and seek out solutions.
            <br>
            <br> I have both high levels of enthusiasm and professionalism, a passion for learning, and practical
            experience working with others in stressful environments. I welcome the creative challenge of solving issues
            and puzzles, and always look to react quickly in effective and dynamic ways.
        </p>
    </div>
</section>
<section class="home p-section">

</section>

</body>

</html>